<div align="center">
<button mat-raised-button color="primary"  (click)="listachete()" >Achete</button>
  <button mat-raised-button color="primary"(click)="listtoute()">Tous</button>
<button mat-raised-button color="primary"(click)="listvendre()" >Vendre</button>
  <h1>Points: {{point}}</h1>
</div>
<div style="display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 20px;">

  <mat-card style="max-width: 250px;"  *ngFor="let c of carte">


    <img mat-card-image src="{{c.image}}">


    <mat-card-content>
      <p>
       Attaque:{{c.valeurAttaque}}
      </p>
      <p>
      Defense:{{c.valeurDefense}}
      </p>

    </mat-card-content>
    <mat-card-actions align="left">

      <div *ngIf="c.carteuser===false">
        <p>
          Prix:{{c.prixAchat}}
        </p>
      <button mat-raised-button color="primary" (click)="achete(c)">Achete</button>
       </div>
      <div *ngIf="c.carteuser===true">
        <p>
          Prix:{{c.prixVendre}}
        </p>
        <button mat-raised-button color="secondary"(click)="vendre(c)">Vendre</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
