/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background-image: url("app/partie/backgroundImage.jpg");
  max-width: 100%;
  height: auto;
}

.mat-card {
  background: none;
  color: black;
  text-align: center;
}

.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none;
}
